<%- include("header") -%>
<h2>This is the about page</h2>

<p>
    erfsbhvk ehjgvfsveijvk fsrvh jsfvwr wribwrg rg  wrslsmfivnwsv  wrsfvjksfojv wrsfkj skfv sfsfv wkrjsfd vj v skf vjls
</p>
<%- include("footer.ejs") -%>